name: Run Tests

on:
  push:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Deno
      uses: denolib/setup-deno@v2
      with:
        deno-version: v1.x

    - name: Cache dependencies
      uses: actions/cache@v2
      env:
        DENO_DIR: ${{ runner.temp }}/deno_dir
      with:
        path: ${{ env.DENO_DIR }}
        key: ${{ runner.os }}-deno-${{ hashFiles('**/lock.json') }}

    - name: Install dependencies
      run: deno cache deps.ts

    # - name: Run linter
    #   run: deno lint --unstable

    - name: Run tests
      run: deno test --allow-all
